form{
    text-align: center;
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

form h1{
    font-size: 100px;
}

hr{
    border: 1px solid;
}

